@font-face{
font-family: 'AldotheApache';
	src: url("/stylesheets/AldotheApache.ttf");
}

body{
	background-color: #000;
	background-image: url("/images/background.gif");
	background-repeat: no-repeat;
	background-position:50% 0%;
	background-attachment:fixed;
	background-size: cover;

	width: 875px;
	margin-left: auto;
	margin-right: auto;	
	font-family: Trebuchet MS, sans-serif;	
	height: auto;
	}
#content{
	}

#topboxnew{
text-align: left;
	top: 0px;
	float: left;
	width: auto;
	height: auto;
	
	
	}

#topimagenew2{
	float: right;
	width: 300px;
	height: auto;

	margin-bottom:0px;
margin-left:20px;
margin-top:50px;
	padding-bottom:10px;
	}
#topimagenew{
	float: left;
	width: 450px;
	height: auto;
margin-left:50px;
	margin-bottom:0px;
	padding-bottom:10px;
	}


#topimage{

text-align: left;
margin-left: 50px;

	}


	
#nav_bar{
	background-color: #900;
	color: #fffff0;
}

#nav_bar a{
font-family: 'AldotheApache';
	background-color: #900;
	margin-left: 10px;
	display: inline;
	width: auto;
	margin-right: 5px;
	padding: 0px 0px 0px 40px;
	color: #fffff0;

	font-size: 170%;
	text-decoration: none;
}

#nav_bar b{
font-family: 'AldotheApache';
	background-color: #900;
	margin-left: 10px;
	display: inline;
	width: auto;
	margin-right: 5px;
	padding: 0px 0px 0px 40px;
	color: #000;

	font-size: 170%;
	text-decoration: none;







}

#nav_bar a#end{
margin-right: 0;
}
#nav_bar a:hover{
color: #000;
}

#onpage a{
background-position: 0px;
}
	
#text{
	text-align: left;
	position:relative;
 	top:20px;
	width: 875px;
	font-size: 14px;
	color: #000000;
	}
#text h1{	
font-family: 'AldotheApache',helvetica, arial;
background: url("/images/longbar.gif");
	background-size:auto;
	width: auto;
	font-weight: bold;
	font-size: 24px;
	color: white;
	background-color: #900;
	padding-left: 10px;
	padding-bottom:2px;
	padding-top:2px;
	margin-top: 0px;
	}
#text h2{

	width: auto;
	font-weight: bold;
	font-size: 16px;
	color: #900;
	padding-left: 10px;
}
#text h3{	
font-family: 'AldotheApache',helvetica, arial;
	background: url("/images/newestbar.gif");
	background-size:auto;
	width: auto;
	font-weight: bold;
	font-size: 20px;
	color: white;
	background-color: #900;
	padding-left: 10px;
	padding-bottom:2px;
	padding-top:2px;
	margin-top: 0px;
	}
#text h4{	
	font-family: 'AldotheApache',helvetica, arial;

	width: auto;
	font-weight: bold;
	font-size: 20px;
	color: white;
	background-color: #900;
	padding-left: 10px;
	padding-bottom:2px;
	padding-top:2px;
	margin-top: 0px;
	}
#text h5{	
font-family: 'AldotheApache',helvetica, arial;
background: url("/images/contactbar.gif");
	background-size:auto;
	width: auto;
	font-weight: bold;
	font-size: 24px;
	color: white;
	background-color: #900;
	padding-left: 10px;

	padding-top:2px;
	margin-top: 0px;
	}
p{
	padding: 0px 10px 0px 10px;
}
/*
/layout stuff
*/
#leftbox{
	float: left;
	width: 300px;
	height: auto;
	background-color: #aaa;
	margin-bottom:15px;
	padding-bottom:10px;
	}
	
#rightboxcol1{
	float: right;
	width: 280px;
	height: auto;
	background-color: #aaa;
	margin-bottom:0px;
	padding-bottom:10px;
	}
#rightboxcol2{
	float: right;
	width: 280px;
	height: auto;
	background-color: #aaa;
	margin-bottom:0px;
	padding-bottom:10px;
	}

	

#picbox{
	float: right;
	width: 560px;
	height: 320px;
	margin-bottom:0px;
	}

#albumart{
	float: left;
	width: 226px;
	height: 199px;
	margin-right:10px;
	}

#picboxaudition{
	float:right;
	width:560px;
	margin-top:0px;
}

#picboxnew{
	float: right;
	width: 560px;
	height: 312px;
	margin-bottom:0px;
	}

#picboxrock{
	float: right;
	width: 560px;
	height: 362px;
	margin-bottom:15px;
	}

#rightbox{
	top: 0px;
	float: right;
	width: 560px;
	height: auto;
	background-color: #aaa;
	
	}
#centerbox{
	position:static;
	float: left;
	width: 875px;
	height: auto;
	background-color: #aaa;
	left: 1px;
	
	}

#centerboxcol1{
	float: left;
	width: 437px;
	height: auto;
	background-color: #aaa;
	margin-bottom:0px;
	padding-bottom:10px;
	}
#centerboxcdlist{
	
	float: left;
	width: 250px;
	height: auto;
	background-color: #aaa;
	margin-bottom:0px;
	padding-bottom:0px;
	}

#centerboxcdinfo{
	float: left;
	width: 625px;
	height: 198px;
	background-color: #aaa;
	margin-bottom:0px;
	padding-bottom:10px;
	}

#tour{
	margin: auto;
	border-style: none;
}

#pup {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid black;
  background-color: #777;
  color: white;
  font-size: 0.95em;
}


/******************
/DateTime Stamp formatting
/*****************/
.date{
	color:#999;
	font-size:small;
	width:60px;
	left:10px;
	top:0px;
	position:relative;

	
}


div.datetime{
float:left;
display:block;
padding:0;
margin:0px 0px 0px 0px; /*was 12,2,2,40*/
width:3.1em;
min-width:48px;
color:#aaa;/*was 2f4765*/
background:#aaa url("images/corner.gif") no-repeat right bottom;/*was fefefe */
text-align:center;
font-size:x-small;
}
div.datetime div.top p{
background:url("images/caltop1b.gif") no-repeat 50% 0;
margin:-9px auto 0 auto;
padding-top:11px;
padding-bottom:0;
padding-left:1px;
text-align:center;
font:bold x-small/100% Georgia, "New Century Schoolbook", "Book Antiqua", "Times New Roman", serif;
letter-spacing:0.12em;
text-transform:uppercase;
}
.datetime .top{
color:#fefefe;
background-color:#900;/*2f4765*/
margin:0 6px 0 0;
padding:6px 0 1px 0;
line-height:100%;
border-top:1px solid #283c56;
border-bottom:1px solid #316640;
border-left:1px solid #283c56;
}
.datetime div.btm{
color:#365174;
background:transparent;
border-left:1px solid #a1c6ac;
margin:0 10px 5px 0;padding:0 0 1px 0;
}
.datetime p.day, .datetime p.mon, .datetime p.yr{
margin:0 3px 0 8px;text-align:center;
}
.datetime p.day{
color:#365174;
background-color:transparent;
padding:0 0 1px 0;
font:bold 1.5em/98% Georgia, "New Century Schoolbook", "Book Antiqua", "Times New Roman", serif;
letter-spacing:0.13em;
}
.datetime p.mon, .datetime p.yr{
color:#283d57;
background-color:transparent;
}
.datetime p.mon{
padding:0;
font:x-small/135% Verdana,Geneva,Arial,Helvetica,sans-serif;
letter-spacing:normal;
line-height:100%;
}
.datetime p.yr{
margin-right:14px;
margin-left:5px;
padding:0 4px 0 0;
font:x-small/110% Verdana,Geneva,Arial,Helvetica,sans-serif;
letter-spacing:0.05em;
}

/*********************
/Style the member object
/********************/
#memberlist{
	/*position:relative;*/
}

.member{
clear: top;
height: 245px;
}
.memberpic{
float:left;
margin: 0px 15px 0px 10px;
height: 200px;
width: 150px;
}
.odd{
	position:static;
	width:430px;
	/*float:left;*/
	/*border-top: 3px groove #FFFFFF;
	background-color:#C0C0C0;*/
}
.even{
	position:static;
	width:430px;
	/*border-top: 3px groove #CCCCCC;
	background-color:#FFFFFF;*/
}



/***************
 /Style the footer
 /***************/
#footer{
	position:relative;
	width: auto;
	font-size: 12px;
	height: 38px;
	color: white;
	background-color: #900;
	text-align: center;
	margin-top: 20px;

}

#footer a{
	color: white;
	
}
 
